<div class="row">
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="data"
        class="example-table"
        matSort
        matSortActive="Company"
        matSortDisableClear
        matSortDirection="asc"
      >
        <!-- Product Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- Product Name Column -->
        <ng-container matColumnDef="Company">
          <th mat-header-cell *matHeaderCellDef>Company</th>
          <td mat-cell *matCellDef="let row">{{ row.Company }}</td>
        </ng-container>

        <!-- Product Price Column -->
        <ng-container matColumnDef="Product">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let row">$ {{ row.Product }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [routerLink]="['/product-details/', row.id]"
        ></tr>
      </table>
    </div>
  </div>
</div>
