<div class="row" *ngIf="isDesktopDevice">
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Product Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- Product Name Column -->
        <ng-container matColumnDef="Company">
          <th mat-header-cell *matHeaderCellDef>Company</th>
          <td mat-cell *matCellDef="let row">{{ row.Company }}</td>
        </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="Product">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let row">{{ row.Product }}</td>
        </ng-container>

          <!-- Product Type Column -->
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let row">{{ row.Type }}</td>
          </ng-container>


        
          <!-- Product Inches Column-->
          <ng-container matColumnDef="Inches">
            <th mat-header-cell *matHeaderCellDef>Inches</th>
            <td mat-cell *matCellDef="let row">{{ row.Inches }}</td>
          </ng-container>



          <!-- Product Resolution Column -->
          <ng-container matColumnDef="Resolution">
            <th mat-header-cell *matHeaderCellDef>Resolution</th>
            <td mat-cell *matCellDef="let row">{{ row.Resolution }}</td>
          </ng-container>

         <!-- Product CPU Column-->
         <ng-container matColumnDef="CPU">
          <th mat-header-cell *matHeaderCellDef>CPU</th>
          <td mat-cell *matCellDef="let row">{{ row.CPU }}</td>
        </ng-container>


   <!-- Product RAM Column-->
   <ng-container matColumnDef="RAM">
    <th mat-header-cell *matHeaderCellDef>RAM</th>
    <td mat-cell *matCellDef="let row">{{ row.RAM }}</td>
  </ng-container>

   <!-- Product Memory Column-->
   <ng-container matColumnDef="Memory">
    <th mat-header-cell *matHeaderCellDef>Memory</th>
    <td mat-cell *matCellDef="let row">{{ row.Memory }}</td>
  </ng-container>

   <!-- Product Memory Column-->
   <ng-container matColumnDef="Graphics">
    <th mat-header-cell *matHeaderCellDef>Graphics</th>
    <td mat-cell *matCellDef="let row">{{ row.Graphics }}</td>
  </ng-container>

        <!-- Product OpSys Column-->
   <ng-container matColumnDef="OpSys">
    <th mat-header-cell *matHeaderCellDef>OpSys</th>
    <td mat-cell *matCellDef="let row">{{ row.OpSys }}</td>
  </ng-container>

      <!-- Product Weight Column-->
   <ng-container matColumnDef="Weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let row">{{ row.Weight }}</td>
  </ng-container>
   
        <!-- Product Price Column-->
   <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let row">{{ row.Price }}</td>
  </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [routerLink]="['/product-details/', row.id]"
        ></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
<div class="row" *ngIf="isMobile">


<igx-input-group type="search" class="search">
  <igx-prefix>
      <igx-icon>search</igx-icon>
  </igx-prefix>
  <input #search igxInput placeholder="Search Products" [(ngModel)]="searchProducts">
  <igx-suffix *ngIf="search.value.length > 0" (click)="searchProducts = null">
      <igx-icon>clear</igx-icon>
  </igx-suffix>
</igx-input-group>

<igx-list>
  <igx-list-item isHeader="true">
  </igx-list-item>
  <igx-list-item *ngFor="let product of products | igxFilter: filterContacts; let i = index">
    <h4 igxListLineTitle>{{ product.Company }}</h4>
    <p igxListLineSubTitle>{{ product.Product }}</p>
    <p igxListLineSubTitle>{{ product.CPU }}</p>
    <p igxListLineSubTitle>{{ product.RAM }}</p>
    <p igxListLineSubTitle>{{ product.Price }}</p>
  </igx-list-item>
</igx-list>

</div>